n8n-workflows/03-approval-webhook.json
{
  "name": "3️⃣ Approval Webhook - HITL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-webhook",
        "authentication": "none",
        "responseMode": "onReceived"
      },
      "name": "Webhook - From Your System",
      "type": "n8n-nodes-base.webhookTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  newsId: $input.first().json.newsId,\n  title: $input.first().json.title,\n  summary: $input.first().json.summary,\n  platforms: Object.keys($input.first().json.generatedPosts.reduce((acc, p) => ({...acc, [p.platform]: true}), {})),\n  postCount: $input.first().json.generatedPosts.length,\n  timestamp: $input.first().json.timestamp\n}"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "value1": "={{ $json.approved }}",
              "operation": "true"
            }
          ]
        }
      },
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "text": "🔔 New Content Awaiting Approval\n\n📰 News: {{ $node[\"Extract Data\"].json.title }}\n\n📊 Summary: {{ $node[\"Extract Data\"].json.summary }}\n\n📱 Platforms: {{ $node[\"Extract Data\"].json.platforms.join(\", \") }}\n\n📝 Posts Generated: {{ $node[\"Extract Data\"].json.postCount }}\n\n👉 <https://news-to-social.vercel.app/approve|Review & Approve>\n\nTimestamp: {{ $node[\"Extract Data\"].json.timestamp }}",
        "channel": "#pending-approvals"
      },
      "name": "Slack - Pending Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 3.0,
      "position": [550, 100]
    },
    {
      "parameters": {
        "subject": "⏳ Content Pending Approval",
        "toEmail": "your@email.com",
        "text": "News: {{ $node[\"Extract Data\"].json.title }}\n\nPlatforms: {{ $node[\"Extract Data\"].json.platforms.join(\", \") }}\n\nPlease review and approve at: https://news-to-social.vercel.app/approve"
      },
      "name": "Email - Approval Needed",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1.0,
      "position": [550, 500]
    },
    {
      "parameters": {
        "url": "https://news-to-social.vercel.app/publish-approved",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "newsId",
              "value": "={{ $json.newsId }}"
            },
            {
              "name": "approved",
              "value": "={{ $json.approved }}"
            },
            {
              "name": "platforms",
              "value": "={{ $json.platforms }}"
            },
            {
              "name": "generatedPosts",
              "value": "={{ $json.generatedPosts }}"
            },
            {
              "name": "scheduledTime",
              "value": "={{ $json.scheduleTime || $node[\"Extract Data\"].json.timestamp }}"
            }
          ]
        }
      },
      "name": "Publish to Blotato (Direct)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1150, 300]
    }
  ],
  "connections": {
    "Webhook - From Your System": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Slack - Pending Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Approval Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish to Blotato (Direct)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
